{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/get?meta=yes&tag=xxBOGUSxxINVALIDxx","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<posts user=\"[USERNAME]\" dt=\"2012-07-07T04:18:28Z\">\n</posts>\n\t"},"http_version":null},"recorded_at":"Sat, 07 Jul 2012 05:33:25 GMT"}],"recorded_with":"VCR 2.2.2"}