{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/all?tag=xxNOTxxFOUNDxx&start&results&fromdt&todt&meta=0","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","base64_string":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiID8+Cjxwb3N0\ncyB1c2VyPSJbVVNFUk5BTUVdIj4KPC9wb3N0cz4KCQ==\n"},"http_version":null},"recorded_at":"Sat, 14 Jul 2012 07:34:21 GMT"}],"recorded_with":"VCR 2.2.2"}