{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/get?href=https%3A%2F%2Fpinboard.in%2Fu%3A[USERNAME]","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<posts user=\"[USERNAME]\" dt=\"2012-07-11T10:33:55Z\">\n    <post href=\"https://pinboard.in/u:[USERNAME]\" time=\"2012-07-11T10:33:55Z\" description=\"Pinboard - antisocial bookmarking\" extended=\"\" tag=\"\" hash=\"bc857ba651d134be0c9a5267e943c3ce\"    />\n</posts>\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 10:34:05 GMT"},{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/delete?url=https%3A%2F%2Fpinboard.in%2Fu%3A[USERNAME]","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n    <result code=\"done\" />\n<!-- generated 07/11/12 10:07:05 UTC -->"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 10:34:05 GMT"}],"recorded_with":"VCR 2.2.2"}