{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/get?url=xxBOGUSxxINVALIDxx","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<posts user=\"[USERNAME]\" dt=\"2012-07-11T05:52:58Z\">\n    <post href=\"http://coderwall.com/p/f4hyqw\" time=\"2012-07-11T05:52:58Z\" description=\"Phil Cohen : Fix Ruby 1.9.x OpenSSL Segfault on OS X\" extended=\"Fix Ruby 1.9.x OpenSSL Segfault on OS X - covers MacPorts, Homebrew, RVM, rbenv #protip  via @coderwall\" tag=\"protip test junk\" hash=\"885f1e39219178ac2ef7450c655d7f4b\"    />\n    <post href=\"http://www.bing.com/\" time=\"2012-07-11T18:20:11Z\" description=\"Bing\" extended=\"\" tag=\"\" hash=\"447c1d819532470f427483b5c2ad32a6\"    />\n</posts>\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 18:20:50 GMT"}],"recorded_with":"VCR 2.2.2"}