{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/all?tag=xxNOTxxFOUNDxx","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<posts user=\"[USERNAME]\">\n</posts>\n\t"},"http_version":null},"recorded_at":"Sat, 14 Jul 2012 00:06:39 GMT"}],"recorded_with":"VCR 2.2.2"}