{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/get?url=http%3A%2F%2Fduckduckgo.com%2F","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<posts user=\"[USERNAME]\" dt=\"2012-07-11T10:55:49Z\">\n    <post href=\"http://duckduckgo.com/\" time=\"2012-07-11T10:55:49Z\" description=\"DuckDuckGo\" extended=\"\" tag=\"\" hash=\"6b282e33225cced1503ec26106723b2c\"    />\n</posts>\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 11:14:48 GMT"},{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/delete?url=http%3A%2F%2Fduckduckgo.com%2F","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n    <result code=\"done\" />\n<!-- generated 07/11/12 11:07:48 UTC -->"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 11:14:49 GMT"}],"recorded_with":"VCR 2.2.2"}