{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/tags/get","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<tags>\n\t<tag count=\"1\" tag=\"scripts\" />\n\t<tag count=\"1\" tag=\"inexpensive\" />\n\t<tag count=\"1\" tag=\"rootkit\" />\n\t<tag count=\"1\" tag=\"printing\" />\n\t<tag count=\"1\" tag=\"Ubuntu\" />\n\t<tag count=\"1\" tag=\"hash\" />\n\t<tag count=\"1\" tag=\"samba\" />\n\t<tag count=\"1\" tag=\"playlists\" />\n\t<tag count=\"1\" tag=\"cover\" />\n\t<tag count=\"1\" tag=\"screenprinting\" />\n\t<tag count=\"1\" tag=\"exercise\" />\n\t<tag count=\"1\" tag=\"idisk\" />\n\t<tag count=\"1\" tag=\"nasa\" />[...]
{"request":{"method":"get","uri":"https://api.pinboard.in/v1/tags/delete?tag=junk","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<result>done</result>\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 10:34:59 GMT"}],"recorded_with":"VCR 2.2.2"}