{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/user/secret","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<result>a3b0f4073ee14b0a3df1</result>\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 10:31:27 GMT"}],"recorded_with":"VCR 2.2.2"}