{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/suggest?url=http%3A%2F%2Fblog.com","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<suggested>\n\t<popular>hosting</popular>\n\t<popular>blogs</popular>\n\t<popular>blog</popular>\n\t<popular>free</popular>\n\t<recommended>blog</recommended>\n\t<recommended>blogging</recommended>\n\t<recommended>blogs</recommended>\n\t<recommended>free</recommended>\n\t<recommended>hosting</recommended>\n\t<recommended>Imported_From_Firefox</recommended>\n\t<recommended>service</recommended>\n\t<recommended>social-software</recommended>\n\t<recommended>tools</recommended>\n\t<recommended>web2.0</recommended>\n</suggested>\n\n\t"},"http_version":null},"recorded_at":"Wed, 11 Jul 2012 10:31:22 GMT"}],"recorded_with":"VCR 2.2.2"}