{"http_interactions":[{"request":{"method":"get","uri":"https://api.pinboard.in/v1/posts/update","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic [FILTERED]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["text/xml; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<update time=\"2012-07-07T04:18:28Z\" />\n\t"},"http_version":null},"recorded_at":"Sat, 07 Jul 2012 07:36:08 GMT"}],"recorded_with":"VCR 2.2.2"}